{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Recipes List</title>
  </head>
  <body>
    <h1>Recipes list</h1>
    {% comment%} HTML tag for heading {% endcomment%}

    <table border="1" cellpadding="5" cellspacing="5">
      {% comment%} start of table {% endcomment%}
      <tr>
        <td>Recipe Titles</td>
        <td>Recipe Images</td>
      </tr>
      {% for object in object_list %} {% comment%} now go through the list
      element-by-element {% endcomment%}
      <tr>
        <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
        {% comment%} print the name of book {% endcomment%}
        <td><img src="{{object.pic.url}}" width="150" height="200" /></td>
        {% comment%} display the picture of book {% endcomment%}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
